body {
    background-color: goldenrod;
}

.Webpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-brand{
    color: goldenrod;
    
}
.nav-item {
    color:goldenrod
}

.card {
    text-align: center;
    margin: 10px;
    border-radius: 50px;
    display: flex;
}

h1 {
    color: blue;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.card-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#number {
    margin-top: 20px;
    width: 80px;
}
